:root {
    background-color: white;
    --grid-rows: 1; 
  }

.container {

    border: 1px solid black;
    margin: 15px auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), .5fr);
    grid-template-columns: repeat(var(--grid-rows), .5fr);
    background-color: white;
}

.main {
    align-items: center;
    display: flex;
}

.etchSketch {
    background-color: white;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid black;
}

h1{
    text-align: center;
}

.etchSketchColor {
    background-color: red;
}